@using System
@using static Rezaee.Alireza.Web.Extensions.IntExtensions
@model Rezaee.Alireza.Web.Models.ViewModels.Pages.CreateEditViewModel
@{
    Layout = "_PostLayout";
    ViewData["Title"] = "برگ جدید";

    var Avatar = new
    {
        x150 = "/uploads/profile/avatar-150x.jpg",
        x125 = "/uploads/profile/avatar-125x.jpg",
        x100 = "/uploads/profile/avatar-100x.jpg",
        x64 = "/uploads/profile/avatar-64x.jpg"
    };
    var fullName = "علیرضا رضائی";

    var persianPostDate = PersianDateTime.Now;
}
@section Head {
    <link href="~/lib/PersianDateTimePicker/jquery.md.bootstrap.datetimepicker.style.css" rel="stylesheet" />
    <style>
        .bg-size-cover {
            background-size: cover;
        }

        .bg-no-repeat {
            background-repeat: no-repeat;
        }
    </style>
    <script src="https://cdn.tiny.cloud/1/dm1gkjqyitq2ij8h1ccm84t9kc01tqrwtmehtb30xqe4bc4s/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: 'textarea',
            directionality: 'rtl',
            language: 'fa',

            plugins: "code image searchreplace wordcount link",

            content_style: "body {font-family: IRANSans;}",

            rel_list: [
                { title: 'No Referrer', value: 'noreferrer' },
                { title: 'External Link', value: 'external' }
            ],

            setup: function (editor) {
                editor.on('change', function () {
                    editor.save();
                });
            }
        });
    </script>
}

<form asp-controller="Pages" asp-action="Creating" enctype="multipart/form-data">
    <div id="header" class="text-center" style="margin-bottom: calc(5rem + 26px); height: 45vh">
        <div id="hnav-besm" class="mx-auto py-2"></div>
        <div class="container h-100 text-right">
            <label asp-for="CoverImage" id="CoverImage-preview" class="btn cover h-100 w-100 rounded-top border border-danger cursor-pointer mb-1 d-flex justify-content-center align-items-center bg-size-cover bg-no-repeat" style="background-image: repeating-linear-gradient(-45deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2) 20px, rgba(0,0,0,0.3) 20px, rgba(0,0,0,0.3) 40px), url('/uploads/profile/cover.jpg');">
                <span class="badge badge-secondary">
                    محل نمایش تصویر جلد
                </span>
            </label>
            <input type="file" class="d-none" asp-for="CoverImage" id="CoverImage" />
            <nav id="hnav" style="padding-right: 0;">
                <div class="d-inline-block" style="background-color: #08c; color: white; line-height: 3; padding-left: 10px; padding-right: 10px; border-right: 5px solid #006293;">
                    برگ
                </div>
                <div id="hnav-list" class="d-flex pr-0 mb-0 rounded-bottom position-relative">
                    <div class="mr-auto position-relative">
                        <button type="button"
                                class="btn btn-default h-100 d-block d-sm-none material-icons nav-shortcuts-trigger" id="js-nav-shortcuts-trigger">
                            menu
                        </button>
                        <ul class="d-none d-sm-flex align-items-center pr-0 nav-shortcuts" id="js-nav-shortcuts">
                            <li class="d-block"><a asp-controller="home" asp-action="index" class="material-icons p-2">home</a></li>
                            <li class="d-block"><a href="javascript:void(0)" class="material-icons p-2">create</a></li>
                            <li class="d-block"><a href="javascript:void(0)" class="material-icons p-2">camera</a></li>
                            <li class="d-block"><a href="javascript:void(0)" class="material-icons p-2">people</a></li>
                            <li class="d-block"><a href="javascript:void(0)" class="material-icons p-2">message</a></li>
                            <li class="d-block"><a href="javascript:void(0)" class="material-icons p-2">notifications</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div style="height: 1px;"></div>

    <div class="container">
        <div class="row">
            <div class="col">
                <input asp-for="Page.Title" class="form-control text-center mb-3" placeholder="عنوانی وارد کنید" style="line-height: 3; color: #006293; font-size: 1.5rem;">
            </div>
        </div>

        <div class="form-row justify-content-center align-items-center">
            <img src="@Avatar.x64" alt="@fullName" class="rounded-circle my-1 my-md-0" style="width: 25px; height:25px;" />
            <div class="col-12 col-md-4 text-center my-1 my-md-0" id="datepicker">
                <input type="text" id="post-publish-datepicker" class="form-control text-center" placeholder="@persianPostDate.ToString("dd MMMM yyyy").EnglishNumberToPersian()" readonly>
                <input type="hidden" asp-for="Page.CreateDateTime" id="post-publish-date" class="form-control text-center" value="@DateTime.Now">
            </div>
            <div class="col-12 col-md-4 text-center my-1 my-md-0">
                <input type="number" class="form-control text-center" placeholder="زمان مطالعه (دقیقه)" min="1">
            </div>
        </div>

        <div class="row">
            <div class="col">
                <label asp-for="Page.Url" class="my-2">نشانی صفحه:</label>
                <input asp-for="Page.Url" class="form-control text-left mb-3 dir-ltr" placeholder="https://alireza.rezaee.org/pages/example" style="color: #006293;">
            </div>
        </div>

        <label asp-for="Page.Html" class="my-2">محتوا:</label>
        <textarea asp-for="Page.Html"></textarea>

        <div class="row my-3">
            <div class="col-12 col-md-6">
                <div class="custom-control custom-checkbox mr-sm-2">
                    <input type="checkbox" class="custom-control-input" asp-for="Page.HasLayout" checked="checked">
                    <label class="custom-control-label text-black-50" asp-for="Page.HasLayout">آیا محتوای HTML شامل پوسته مستقل از قالب سایت است؟</label>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="custom-control custom-checkbox mr-sm-2">
                    <input type="checkbox" class="custom-control-input" asp-for="Page.IsVisible" checked="checked">
                    <label class="custom-control-label text-black-50" asp-for="Page.IsVisible">آیا قابل مشاهده باشد؟</label>
                </div>
            </div>
        </div>

        <div class="text-left">
            <button class="btn btn-warning">
                انصراف
            </button>
            <button type="submit" class="btn btn-primary">
                افزودن
            </button>
        </div>
    </div>
</form>

@section Scripts {
    <script src="~/lib/PersianDateTimePicker/jquery.md.bootstrap.datetimepicker.js"></script>
    <script>
        $('#datepicker').MdPersianDateTimePicker({
            targetTextSelector: '#post-publish-datepicker',
            targetDateSelector: '#post-publish-date',
            textFormat: 'dd MMMM yyyy'
        });

        $('#CoverImage').change(function (e) {
            var preview = $('#' + $(e.target).attr('id') + '-preview');

            preview.src = URL.createObjectURL(event.target.files[0]);
            preview.css('background-image', 'url(' + preview.src + ')');
            preview.onload = function () {
                URL.revokeObjectURL(preview.src);
            }
        });
    </script>
}