@model Rezaee.Alireza.Web.Models.Page

<div class="container my-5">
    @Html.Raw(Model.Html)

    @if (User.IsInRole(Roles.PageEdit) || User.IsInRole(Roles.PageDelete))
    {
        <hr />

        <div class="text-left">
            @if (User.IsInRole(Roles.PageEdit))
            {
            <a asp-action="Edit" asp-controller="Pages" asp-route-path="@Model.Path" class="btn rounded-oval btn-outline-success border" data-dismiss="modal">اصلاح برگه</a>
            }
            @if (User.IsInRole(Roles.PageDelete))
            {
            <a asp-action="Delete" asp-controller="Pages" asp-route-path="@Model.Path" class="btn rounded-oval btn-outline-danger border" data-dismiss="modal">حذف برگه</a>
            }
            @if (User.IsInRole(Roles.PageEdit))
            {
            <a asp-action="Index" asp-controller="Pages" class="btn rounded-oval btn-light border" data-dismiss="modal">فهرست برگه ها</a>
            }
        </div>
    }
</div>