@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "دسترسی غیر مجاز";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <hr />
    <p class="text-danger">
        برای دسترسی به این منبع مجوز لازم را ندارید.
    </p>
</header>
