@page
@model ExternalLoginModel
@{
    ViewData["Title"] = "عضویت";
}

<h1>@ViewData["Title"]</h1>
<hr />
<h4>اتصال حساب کاربری به @Model.LoginProvider</h4>
<hr />

<p class="text-info">
    هویت شما از طریق <strong>@Model.LoginProvider</strong> احراز شد.
    لطفاً نشانی رایانامه خود را وارد کنید و در نهایت بر روی عضویت کلیک کنید.
</p>

<div class="row">
    <div class="col-12 col-md-6">
        <form asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">عضویت</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
