@page
@model LockoutModel
@{
    ViewData["Title"] = "حساب کاربری قفل شد";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <hr />
    <p class="text-danger">
        حساب کاربری قفل شده است.
        لطفاً زمان دیگری مراجعه کنید.
    </p>
</header>
