@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "تایید عضویت";
}

<h1>@ViewData["Title"]</h1>
<hr />
<p>
    نشانی تایید عضویت به رایانامه شما ارسال شد.
    لطفاً صندوق رایانامه خود را بررسی کنید.
</p>