@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "تایید تنظیم گذرواژه";
}

<h1>@ViewData["Title"]</h1>
<hr />
<p>
    گذرواژه حساب تغییر کرد.
    برای <a asp-page="./Login">ورود</a> به حساب
    <a asp-page="./Login">اینجا</a> کلیک کنید.
</p>
