@using Microsoft.AspNetCore.Identity
@inject SignInManager<Rezaee.Alireza.Web.Areas.Identity.Data.ApplicationUser> SignInManager
@inject UserManager<Rezaee.Alireza.Web.Areas.Identity.Data.ApplicationUser> UserManager
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Head {
    @RenderSection("Head", required: false)
}

<div class="container mt-5">
    <div class="row">
        @if (SignInManager.IsSignedIn(User))
        {
            <div class="col-12 col-sm-3">
                <partial name="/Areas/Identity/Pages/Account/Manage/_ManageNav.cshtml">
            </div>
        }
        <div class="col-12 col-sm">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}