@{
    ViewData["Title"] = "علاقه‌مندی های شما";
}

<div class="container my-5">
    <h1 class="text-size-6">@ViewData["Title"]</h1>
    <hr />

    <p class="font-weight-bold">
        به زودی!
    </p>
    <p>
        در آینده قادر به برگزیدن نوشتار خواهید بود.
        این ویژگی به زودی در نسخه پیش‌نمایش رونمایی می‌شود.
    </p>
</div>