@page
@model PersonalDataModel
@{
    ViewData["Title"] = "داده های شخصی";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4>@ViewData["Title"]</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <p>
            حساب کاربری شما شامل داده هایی است که شما آنها را به ما دادید. برای دریافت یا حذف آنها از این صفحه اقدام کنید.
        </p>
        <p>
            <strong>
                حذف داده ها به حذف حساب کاربری شما منجر خواهد شد و قابل بازیابی نخواهد بود.
            </strong>
        </p>
        <div class="text-start">
            <form id="download-data" asp-page="DownloadPersonalData" method="post" class="mb-3 d-inline-block">
                <button class="btn btn-success" type="submit">
                    دریافت
                </button>
            </form>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">
                حذف
            </a>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}