@page
@model ResetAuthenticatorModel
@{
    ViewData["Title"] = "بازیابی کلید نرم افزار احراز هویت";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h4>@ViewData["Title"]</h4>
<hr />
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>اگر کلید نرم افزار احراز هویت را دوباره تنظیم کنید، نرم افزار احراز هویت شما تا زمانی که دوباره آنرا تنظیم کنید کار نخواهد کرد.</strong>
    </p>
    <p>
        این فرایند احراز هویت دو مرحله ای را تا زمانی که نرم افزار احراز هویت را فعال کنید غیرفعال میکند.
        و اگر تنظیمات نرم افزار احراز هویت را تکمیل نکنید ممکن است دسترسی به حساب کاربری خود را از دست دهید.
    </p>
</div>
<div>
    <form id="reset-authenticator-form" method="post" class="mb-3">
        <button id="reset-authenticator-button" class="btn btn-danger" type="submit">تنظیم مجدد کلید احراز هویت</button>
    </form>
</div>