@page
@model SetPasswordModel
@{
    ViewData["Title"] = "تنظیم گذرواژه";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<h4>گذرواژه تنظیم کنید</h4>
<hr />
<partial name="_StatusMessage" for="StatusMessage" />
<p class="text-info">
    برای این سایت نام کاربری/گذرواژه محلی ندارید.
    با افزودن حساب محلی بدون نیاز به ورود خارجی قادر به ورود به سایت خواهید بود.
</p>
<div class="row">
    <div class="col-12 col-md-6">
        <form id="set-password-form" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="Input.NewPassword"></label>
                <input asp-for="Input.NewPassword" class="form-control" />
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">تنظیم گذرواژه</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}