@using System
@using static Rezaee.Alireza.Web.Extensions.IntExtensions
@model Rezaee.Alireza.Web.Models.ViewModels.Posts.CreateEditMarkdownPostViewModel
@{
    ViewData["Title"] = "بازنشر رسانه";

    var Avatar = new
    {
        x150 = "/uploads/profile/avatar-150x.jpg",
        x125 = "/uploads/profile/avatar-125x.jpg",
        x100 = "/uploads/profile/avatar-100x.jpg",
        x64 = "/uploads/profile/avatar-64x.jpg"
    };
    var fullName = "علیرضا رضائی";

    var persianPostDate = PersianDateTime.Now;
}
@section Head {
    <environment include="Development">
        <link href="~/lib/md.datetimepicker/3.8.0/dist/jquery.md.bootstrap.datetimepicker.style.css" rel="stylesheet" />
        <script src="~/lib/tinymce/5.5.1/tinymce.min.js"></script>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://unpkg.com/md.bootstrappersiandatetimepicker@3.8.0/dist/jquery.md.bootstrap.datetimepicker.style.css"
              asp-fallback-href="~/lib/md.datetimepicker/3.8.0/dist/jquery.md.bootstrap.datetimepicker.style.css"
              asp-fallback-test-class="mds-bootstrap-persian-datetime-picker-container"
              asp-fallback-test-property="position"
              asp-fallback-test-value="relative"
              integrity="sha384-++CWOYXf99BrIoE2ttMqLQCFDyk2BvAT9PrDlb4HdF6gm2OqGx3pUVKQvIbgfnU/"
              crossorigin="anonymous" />
        <script src="https://unpkg.com/tinymce@5.5.1/tinymce.min.js"
                asp-fallback-src="~/lib/tinymce/5.5.1/tinymce.min.js"
                asp-fallback-test="window.tinymce"
                integrity="sha384-zuETV1iPOoJdf/Z465ljv1XO9ejeYE6/PsfGd2lhoIq5xEyq4V2SwxHlSBiHJfuh"
                crossorigin="anonymous"></script>
    </environment>
    <script src="~/lib/tinymce-lang/langs/fa.js"></script>

    <style>
        .bg-size-cover {
            background-size: cover;
        }

        .bg-no-repeat {
            background-repeat: no-repeat;
        }

        .tags {
            color: #8e8e8e;
            background-color: #f8f8f8;
            font-size: small;
            border-radius: 0.25rem !important;
            border: 1px solid #dee2e6 !important;
            padding: 0.25rem !important;
            margin: 0.15rem;
            float: right;
        }

            .tags .remove {
                color: #fff;
                background-color: #b5b5b5;
                cursor: pointer;
                line-height: 1 !important;
                border-radius: 0.25rem !important;
                padding: 0.1rem 0.2rem !important;
                display: inline-block;
                font-weight: 700;
                text-align: center;
                white-space: nowrap;
                vertical-align: baseline;
                margin-left: 0.25rem;
            }

                .tags .remove::after {
                    content: "×";
                }
    </style>
    <script>
        tinymce.init({
            selector: 'textarea',
            directionality: 'rtl',
            language: 'fa',

            plugins: "code image searchreplace wordcount link",

            content_style: "body {font-family: IRANSans;}",

            rel_list: [
                { title: 'No Referrer', value: 'noreferrer' },
                { title: 'External Link', value: 'external' }
            ],

            setup: function (editor) {
                editor.on('change', function () {
                    editor.save();
                });
            }
        });
    </script>
}
<form asp-controller="Posts" asp-action="CreatingMarkdown" enctype="multipart/form-data">
    <div class="container mt-3">
        <div class="row">
            <div class="col">
                <input asp-for="Post.Title" class="form-control text-center mb-3" placeholder="عنوانی وارد کنید" style="line-height: 3; color: #006293; font-size: 1.5rem;">
            </div>
        </div>

        <div class="form-row justify-content-center align-items-center">
            <img src="@Avatar.x64" alt="@fullName" class="rounded-circle my-1 my-md-0" style="width: 25px; height:25px;" />
            <div class="col-12 col-md-4 text-center my-1 my-md-0" id="datepicker">
                <input type="text" id="post-publish-datepicker" class="form-control text-center" placeholder="@persianPostDate.ToString("dd MMMM yyyy").EnglishNumberToPersian()" readonly>
                <input type="hidden" asp-for="Post.PublishDateTime" class="form-control text-center" value="@DateTime.Now.ToString("MM/dd/yyyy hh:mm:ss")">
            </div>
            <div class="col-12 col-md-4 text-center my-1 my-md-0">
                <input type="number" class="form-control text-center" placeholder="زمان مطالعه (دقیقه)" min="1">
            </div>
        </div>

        <div class="row">
            <div class="col">
                <label asp-for="Markdown.FileUrl" class="my-2">نشانی متن نشانه دار:</label>
                <input asp-for="Markdown.FileUrl" class="form-control text-left mb-3 dir-ltr" placeholder="https://wwww.example.com" style="color: #006293;">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label asp-for="Markdown.ContributeUrl" class="my-2">نشانی مشارکت در فایل:</label>
                <input asp-for="Markdown.ContributeUrl" class="form-control text-left mb-3 dir-ltr" placeholder="https://wwww.example.com" style="color: #006293;">
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-12 col-md-6 my-3">
                <label asp-for="ThumbnailImage">تصویر بندانگشتی:</label>
                <small class="form-text text-muted small mb-2">تصویری کوچک که در فهرست مطالب به جای جلد نمایش داده می شود.</small>
                <label asp-for="ThumbnailImage" id="ThumbnailImage-preview" class="btn post-image w-100 rounded border border-danger d-flex justify-content-center align-items-center bg-size-cover bg-no-repeat" style="background-image: repeating-linear-gradient(-45deg, #fff, #fff 20px, #eee 20px, #eee 40px); height: 200px;">
                    <span class="badge bg-secondary">
                        محل نمایش تصویر بندانگشتی
                    </span>
                </label>
                <input type="file" asp-for="ThumbnailImage" class="d-none" id="ThumbnailImage" />
            </div>
            <div class="col-12 col-md-6 my-3">
                <div class="form-group">
                    <label asp-for="Post.Summary">چکیده:</label>
                    <small class="form-text text-muted small mb-2">متنی که به عنوان چکیده در کنار تصویر بندانگشتی نمایش داده میشود.</small>
                    <textarea asp-for="Post.Summary" id="Post_Summary"></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 my-3">
                <label for="test">برچسب ها:</label>
                <small class="form-text text-muted small mb-2">واژه های پر اهمیت متن را انتخاب کنید؛ برچسب ها برای بهینه سازی موتور جستوجو، پیشنهاد مطالب و ... به کار می روند.</small>
                <div class="input-group mb-2 mr-sm-2 dir-ltr">
                    <div class="input-group-prepend">
                        <button type="button" class="btn btn-light border" id="add-new-tag">افزودن</button>
                    </div>
                    <input list="tag-suggestions" class="custom-select" id="new-tag-input" style="direction: rtl;" autocomplete="off">
                    <datalist id="tag-suggestions">
                    </datalist>
                </div>
                <input type="hidden" asp-for="PostTags" id="postTags" />
                <div class="mx-2" id="selected-tags"></div>
            </div>
        </div>
        <div class="text-left">
            <button class="btn btn-warning">
                انصراف
            </button>
            <button type="submit" class="btn btn-primary">
                افزودن متن نشانه دار
            </button>
        </div>
    </div>
</form>

@section Scripts {
    <environment include="Development">
        <script src="~/lib/md.datetimepicker/3.8.0/dist/jquery.md.bootstrap.datetimepicker.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://unpkg.com/md.bootstrappersiandatetimepicker@3.8.0/dist/jquery.md.bootstrap.datetimepicker.js"
                asp-fallback-src="~/lib/md.datetimepicker/3.8.0/dist/jquery.md.bootstrap.datetimepicker.js"
                asp-fallback-test="$().MdPersianDateTimePicker"
                integrity="sha384-Eo1ycI7mZBp05oYXawjEKfVVkLrFi5ZlyKuvrD9CCYmMy4ivJ2c6MpwXJnYN2E1f"
                crossorigin="anonymous"></script>
    </environment>

    <script>
        $('#datepicker').MdPersianDateTimePicker({
            targetTextSelector: '#post-publish-datepicker',
            targetDateSelector: '#post-publish-date',
            textFormat: 'dd MMMM yyyy'
        });

        $('#CoverImage, #ThumbnailImage').change(function (e) {
            var preview = $('#' + $(e.target).attr('id') + '-preview');

            preview.src = URL.createObjectURL(event.target.files[0]);
            preview.css('background-image', 'url(' + preview.src + ')');
            preview.onload = function () {
                URL.revokeObjectURL(preview.src);
            }
        });

        document.getElementById("add-new-tag").addEventListener("click", function () {
            tags.addTags(document.getElementById("new-tag-input").value.trim());
            document.getElementById("new-tag-input").value = '';
            tags.clearSuggestions();
        });

        document.getElementById("new-tag-input").onkeypress = function (e) {
            if (e.keyCode == 44 || e.keyCode == 1548) {
                tags.addTags(document.getElementById("new-tag-input").value.trim());
                document.getElementById("new-tag-input").value = '';
                e.preventDefault();
                return false;
            }
        };

        var tags = {
            addTag: function (tagName) {
                if (tagName.trim() == "" || tags.isNameExist(tagName)) return;

                var innerNewTag = document.createElement("span"), newTag = document.createElement("span");

                //innerNewTag.appendChild(document.createTextNode("\u00D7"));
                innerNewTag.classList.add("remove");

                newTag.appendChild(innerNewTag);
                newTag.appendChild(document.createTextNode(tagName));
                newTag.classList.add("tags");
                newTag.style.display = "none";

                document.getElementById("selected-tags").appendChild(newTag);
                $(newTag).show(300);

                //on click (x) remove tag
                innerNewTag.addEventListener("click", function () {
                    $(newTag).hide(300, function () {
                        newTag.remove();
                    });
                });
            },
            addTags: function (concatTagNames) {
                //debugger;

                if (concatTagNames == '')
                    return;

                var tagsArray = [];
                if (concatTagNames.includes('،'))
                    concatTagNames = concatTagNames.split('،').join(',');
                if (concatTagNames.includes(','))
                    tagsArray = concatTagNames.split(',');
                else tagsArray.push(concatTagNames);

                for (var item in tagsArray) {
                    tags.addTag(tagsArray[item]);
                }
            },
            getList: function () {
                var list = [];
                document.querySelectorAll("#selected-tags>.tags").forEach(function (elem) {
                    list.push(elem.textContent);
                });
                return list;
            },
            concatTagNames: function () {
                var concatenated = "";
                tags.getList().forEach(function (tagName, index) {
                    concatenated += index != 0 ? "," + tagName : tagName;
                });
                return concatenated;
            },
            isNameExist: function (tagName) {
                var tagNames = tags.getList();
                for (var item in tagNames)
                    if (tagNames[item] == tagName) return true;

                return false;
            },
            clearSuggestions: function () {
                document.getElementById('tag-suggestions').textContent = '';
            },
            retrieveSuggestions: function () {
                var elemInput = $('#new-tag-input');
                var elemSugestions = document.getElementById('tag-suggestions');

                $.ajax({
                    url: "/tags/suggestions?q=" + elemInput.val(),
                    dataType: "json",
                    type: "GET",
                    success: function (suggestions) {
                        tags.clearSuggestions();
                        for (var index in suggestions) {
                            //suggestions[index].id
                            var newSuggestion = document.createElement("option");
                            newSuggestion.setAttribute('value', suggestions[index].title);
                            elemSugestions.appendChild(newSuggestion);
                        }
                    }
                });
            },
        };

        //onload
        tags.addTags(document.getElementById("postTags").value);

        document.getElementById('new-tag-input').addEventListener('keyup', function () {
            tags.retrieveSuggestions();
        });

        document.querySelector('form').addEventListener("submit", function () {
            document.getElementById("postTags").value = tags.concatTagNames();
        });
    </script>
}