@{
    ViewData["Title"] = "بارگذاری فایل";
}

<div class="container mt-4">
    <h1 class="fs-4">@ViewData["Title"]</h1>
    <hr />

    <form asp-action="Uploading" asp-controller="Files" asp-area="Admin" enctype="multipart/form-data">
        <div id="form-files">
            <input type="file" name="files" class="form-control mb-3">
            <input type="file" name="files" class="form-control mb-3">
            <input type="file" name="files" class="form-control mb-3">
            <input type="file" name="files" class="form-control mb-3">
            <input type="file" name="files" class="form-control mb-3">
        </div>

        <div class="btn btn-light border js-more-files">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus-circle text-success" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
            </svg>
            فایل‌های بیشتر
        </div>

        <hr />
        <div class="text-start">
            <button type="submit" class="btn btn-success">
                بارگذاری
            </button>
            @if (User.IsInRole(Roles.FilesList))
            {
                <a asp-action="Upload" asp-controller="Files" asp-area="Admin" class="btn btn-light border">
                    فهرست فایل‌ها
                </a>
            }
        </div>
    </form>
</div>

@section Scripts {
    <script>
        document.querySelector('.js-more-files').addEventListener('click', function () {
            let newFileInput = document.createElement('input');
            newFileInput.setAttribute('type', 'file');
            newFileInput.setAttribute('name', 'files');
            newFileInput.classList.add('form-control', 'mb-3');

            document.querySelector('#form-files').appendChild(newFileInput);
        });
    </script>
}