@using Rezaee.Alireza.Web.Extensions;
@model Rezaee.Alireza.Web.Models.ViewModels.Blocks.CreateEditViewModel
@{
    ViewData["Title"] = "ایجاد بلاک جدید";
}

@section Head {
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/codemirror/5.59.1/lib/codemirror.css" />
        <link rel="stylesheet" href="~/lib/codemirror/5.59.1/addon/hint/show-hint.css" />

        <script src="~/lib/codemirror/5.59.1/lib/codemirror.js"></script>
        <script src="~/lib/codemirror/5.59.1/mode/xml/xml.js"></script>
        <script src="~/lib/codemirror/5.59.1/mode/javascript/javascript.js"></script>
        <script src="~/lib/codemirror/5.59.1/mode/css/css.js"></script>
        <script src="~/lib/codemirror/5.59.1/mode/htmlmixed/htmlmixed.js"></script>
        <script src="~/lib/codemirror/5.59.1/addon/selection/active-line.js"></script>
        <script src="~/lib/codemirror/5.59.1/addon/edit/matchbrackets.js"></script>
        <script src="~/lib/codemirror/5.59.1/addon/hint/show-hint.js"></script>
        <script src="~/lib/codemirror/5.59.1/addon/hint/css-hint.js"></script>
        <script src="~/lib/tinymce/5.6.2/tinymce.min.js"></script>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://unpkg.com/codemirror@5.59.1/lib/codemirror.css"
              asp-fallback-href="~/lib/codemirror/5.59.1/lib/codemirror.css"
              asp-fallback-test-class="CodeMirror-gutters"
              asp-fallback-test-property="white-space"
              asp-fallback-test-value="nowrap"
              integrity="sha384-me3GYw39+VnACscdDXhP/b1IARe/OQVQhFGmJaZpMi9PappkEGC93cl+iVBotdjX"
              crossorigin="anonymous" />

        <link rel="stylesheet" href="https://unpkg.com/codemirror@5.59.1/addon/hint/show-hint.css"
              asp-fallback-href="~/lib/codemirror/5.59.1/addon/hint/show-hint.css"
              asp-fallback-test-class="CodeMirror-hints"
              asp-fallback-test-property="position"
              asp-fallback-test-value="absolute"
              integrity="sha384-ZZbLvEvLoXKrHo3Tkh7W8amMgoHFkDzWe8IAm1ZgxsG5y35H+fJCVMWwr0YBAEGA"
              crossorigin="anonymous" />


        <script src="https://unpkg.com/codemirror@5.59.1/lib/codemirror.js"
                asp-fallback-src="~/lib/codemirror/5.59.1/lib/codemirror.js"
                asp-fallback-test="window.CodeMirror"
                integrity="sha384-+tVKXjCqUxejhLL96JgFik1gGNLFvbSmlqk1/E9oLsYMi9RHdXDmGkbypEkZ9avN"
                crossorigin="anonymous"></script>

        <script src="https://unpkg.com/codemirror@5.59.1/mode/xml/xml.js"
                asp-fallback-src="~/lib/codemirror/5.59.1/mode/xml/xml.js"
                asp-fallback-test="CodeMirror.modes.xml"
                integrity="sha384-EwUMa7GJX1216cyeag/TZuBXBbWL5EChhsbXe5A71TD2H9TDEq9n6FL2haWqk+im"
                crossorigin="anonymous"></script>

        <script src="https://unpkg.com/codemirror@5.59.1/mode/javascript/javascript.js"
                asp-fallback-src="~/lib/codemirror/5.59.1/mode/javascript/javascript.js"
                asp-fallback-test="CodeMirror.modes.javascript"
                integrity="sha384-6xOF/aSgYJsHc+eRnkO9PF9Zz7HBsFmD6rRZfLlK+GqbTL60DACepxMV2uv1PPUT"
                crossorigin="anonymous"></script>

        <script src="https://unpkg.com/codemirror@5.59.1/mode/css/css.js"
                asp-fallback-src="~/lib/codemirror/5.59.1/mode/css/css.js"
                asp-fallback-test="CodeMirror.modes.css"
                integrity="sha384-iLRwl/wmrsnZGJIhA5VE7Nn7HrI/QsDdjB4GCqKnZ82i+jVHqaCSXw2GeuA6a7P+"
                crossorigin="anonymous"></script>

        <script src="https://unpkg.com/codemirror@5.59.1/mode/htmlmixed/htmlmixed.js"
                asp-fallback-src="~/lib/codemirror/5.59.1/mode/htmlmixed/htmlmixed.js"
                asp-fallback-test="CodeMirror.modes.htmlmixed"
                integrity="sha384-vM5dpc39AxwLWe2WC/4ZNAw81WDwmu5CoPw9uw7XfDMLtUKrHFEsz4ofeaRWVIEP"
                crossorigin="anonymous"></script>

        <script src="https://unpkg.com/codemirror@5.59.1/addon/selection/active-line.js"
                asp-fallback-src="~/lib/codemirror/5.59.1/addon/selection/active-line.js"
                asp-fallback-test="CodeMirror.optionHandlers.styleActiveLine"
                integrity="sha384-kKz13r+qZMgTNgXROGNHQ0/0/J1FtvIvRZ9yjOHo1YLUCd+KF8r9R+su/B+f6C0U"
                crossorigin="anonymous"></script>

        <script src="https://unpkg.com/codemirror@5.59.1/addon/edit/matchbrackets.js"
                asp-fallback-src="~/lib/codemirror/5.59.1/addon/edit/matchbrackets.js"
                asp-fallback-test="CodeMirror.optionHandlers.matchBrackets"
                integrity="sha384-XWs3gPhdnBJ3qwNXcnjEqVTDHEx4zw/XBDYEjnabmrJpxkWl67uVNztR8xhI6UG9"
                crossorigin="anonymous"></script>

        <script src="https://unpkg.com/codemirror@5.59.1/addon/hint/show-hint.js"
                asp-fallback-src="~/lib/codemirror/5.59.1/addon/hint/show-hint.js"
                asp-fallback-test="CodeMirror.showHint"
                integrity="sha384-CWV9H0BqWpAc3P54hnDdDdzwXIZQn03V/Cn1mJIp/EMWDqHKuMtFNeY9LHpI1VIQ"
                crossorigin="anonymous"></script>

        <script src="https://unpkg.com/codemirror@5.59.1/addon/hint/css-hint.js"
                asp-fallback-src="~/lib/codemirror/5.59.1/addon/hint/css-hint.js"
                asp-fallback-test="CodeMirror.hint.css"
                integrity="sha384-fS3CqTzf3CyenpkFzLDjDJ0KrxEnK9rrmaG3gjmLNJ7Q4cG8u4JDzeldOXEA8SbC"
                crossorigin="anonymous"></script>

        <script src="https://unpkg.com/tinymce@5.6.2/tinymce.min.js"
                asp-fallback-src="~/lib/tinymce/5.6.2/tinymce.min.js"
                asp-fallback-test="window.tinymce"
                integrity="sha384-fPYbu2VaXTDuM6wPh2f7vikhCeSvDZiBDuXQX8/CVQG5SNOyI1isjcTdIb/gmtdE"
                crossorigin="anonymous"></script>
    </environment>
    <script src="~/lib/tinymce-lang/langs/fa.js"></script>

    <script>
        tinymce.init({
            selector: 'textarea.js-html',
            directionality: 'rtl',
            language: 'fa',
            plugins: "code image searchreplace wordcount link",

            content_style: "body {font-family: IRANSans;}",

            rel_list: [
                { title: 'No Referrer', value: 'noreferrer' },
                { title: 'External Link', value: 'external' }
            ],

            setup: function (editor) {
                editor.on('change', function () {
                    editor.save();
                });
            }
        });
    </script>
}

<div class="container">
    <div class="my-5">
        <div class="card card-body" id="block-new">
            <form asp-controller="@nameof(Rezaee.Alireza.Web.Controllers.BlocksController).ControllerName()" asp-action="@nameof(Rezaee.Alireza.Web.Controllers.BlocksController.Create)">
                <ul class="nav nav-tabs" id="newBlockTab">
                    <li class="nav-item">
                        <button class="nav-link active" id="home-tab" data-toggle="tab" data-target="#js-block-content">بدنه</button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link" id="profile-tab" data-toggle="tab" data-target="#js-block-styles">استایل</button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link" id="contact-tab" data-toggle="tab" data-target="#js-block-scripts">اسکریپت</button>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="js-block-content">
                        <textarea asp-for="Html" class="js-html"></textarea>
                        <div class="row my-3">
                            <div class="mb-3 col-12 col-md-6">
                                <label for="inputState">محل جایگیری:</label>
                                <select asp-for="PositionNo" class="form-control">
                                    <option value="0">بالای مطالب</option>
                                    <option value="1">بین مطالب و پیوند ها</option>
                                    <option value="2" selected>پایین پیوند ها</option>
                                </select>
                            </div>
                            <div class="mb-3 col-12 col-md-6">
                                <label for="inputPassword4">ترتیب جایگیری:</label>
                                <input asp-for="Rank" min="1" max="255" class="form-control" id="block-new-rank" placeholder="شماره جایگاه" name="Rank">
                            </div>
                        </div>
                        <div class="form-check my-3">
                            <input asp-for="IsEnable" class="form-check-input" checked="checked">
                            <label asp-for="IsEnable" class="form-check-label">آیا برای عموم نمایش داده شود؟</label>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="js-block-styles">
                        <label asp-for="Styles" class="p-1">استایل ها:</label>
                        <span class="small text-secondary">در انتهای &#60;head&#62; سند افزوده می شود.</span>
                        <div class="dir-ltr text-left">
                            <textarea asp-for="Styles" class="js-styles"></textarea>
                        </div>
                        <span class="small fw-light text-danger">
                            در قسمت استایل ها یا اسکریپت ها، حتماً آنها را همراه با تگ تعریف کنید. مانند:
                            <code class="d-inline-block dir-ltr">&#60;style&#62;.selector { color: red; }&#60;&#8725;style&#62;</code>
                            یا
                            <code class="d-inline-block dir-ltr">&#60;link rel="stylesheet" href="..." &#8725;&#62;</code>
                        </span>
                    </div>
                    <div class="tab-pane fade" id="js-block-scripts">
                        <label for="block-scripts-textarea" class="p-1">اسکریپت ها:</label>
                        <span class="small text-secondary">در انتهای &#60;body&#62; سند افزوده می شود.</span>
                        <div class="text-left dir-ltr">
                            <textarea asp-for="Scripts" class="js-scripts"></textarea>
                        </div>
                        <span class="small fw-light text-danger">
                            در قسمت استایل ها یا اسکریپت ها، حتماً آنها را همراه با تگ تعریف کنید. مانند:
                            <code class="d-inline-block dir-ltr">&#60;script&#62;alert("Hello World!");&#60;&#8725;script&#62;</code>
                            یا
                            <code class="d-inline-block dir-ltr">&#60;script src="..."&#62;&#60;&#8725;script&#62;</code>
                        </span>
                    </div>
                </div>

                <div class="text-left">
                    <input type="hidden" value="/" name="returnUrl" />
                    <button type="submit" class="btn btn-success">
                        افزودن بلاک
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        var mixedMode = {
            name: "htmlmixed",
            scriptTypes: [{
                matches: /\/x-handlebars-template|\/x-mustache/i,
                mode: null
            }, {
                matches: /(text|application)\/(x-)?vb(a|script)/i,
                mode: "vbscript"
            }]
        };

        var cm1, cm2;
        $(document).ready(function () {
            $('#newBlockTab button').on('shown.bs.tab', function () {
                cm1.refresh();
                cm2.refresh();
            });
            cm1 = CodeMirror.fromTextArea(document.querySelector("textarea.js-styles"), {
                lineNumbers: true,
                styleActiveLine: true,
                matchBrackets: true,
                mode: mixedMode,
                extraKeys: { "Ctrl-Space": "autocomplete" }
            });
            cm2 = CodeMirror.fromTextArea(document.querySelector("textarea.js-scripts"), {
                lineNumbers: true,
                styleActiveLine: true,
                matchBrackets: true,
                mode: mixedMode,
                extraKeys: { "Ctrl-Space": "autocomplete" }
            });

            cm1.getDoc().setValue('<style></style>');
            cm2.getDoc().setValue('\<script\>\<\/script\>');
        });

        var elemNewBlock = document.querySelector('#block-new form');
        elemNewBlock.addEventListener('submit', function (e) {
            e.preventDefault();
            var elemHtml = document.querySelector('textarea.js-html');
            elemHtml.value = window.parent.tinyMCE.get(elemHtml.id).getContent();
            document.querySelector('textarea.js-styles').value = cm1.getValue();
            document.querySelector('textarea.js-scripts').value = cm2.getValue();
            elemNewBlock.submit();
        });
    </script>
}