@model UrlShortener.Web.Models.ViewModels.ErrorViewModel
@{
    ViewData["Title"] = "کوتاه کننده لینک • خطا";
}

<div class="container my-5">

    <div class="row">
        <div class="col-12">
            <h1 class="d-inline-block font-weight-bold p-2 bg-dark text-white rounded-left" style="font-size:1.5rem"><a class="text-white text-decoration-none" href="/">کوتاه کننده لینک</a></h1>
            <div class="mt-1"><small class="text-light p-1" style="background-color: #600;">نسخه پیشنمایش</small></div>

            <div class="alert alert-danger mt-3" role="alert">
                <h2 class="alert-heading" style="font-size: 2rem;">
                    <small>
                        <svg class="bi bi-exclamation-triangle" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M7.938 2.016a.146.146 0 00-.054.057L1.027 13.74a.176.176 0 00-.002.183c.016.03.037.05.054.06.015.01.034.017.066.017h13.713a.12.12 0 00.066-.017.163.163 0 00.055-.06.176.176 0 00-.003-.183L8.12 2.073a.146.146 0 00-.054-.057A.13.13 0 008.002 2a.13.13 0 00-.064.016zm1.044-.45a1.13 1.13 0 00-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566z" clip-rule="evenodd" />
                            <path d="M7.002 12a1 1 0 112 0 1 1 0 01-2 0zM7.1 5.995a.905.905 0 111.8 0l-.35 3.507a.552.552 0 01-1.1 0L7.1 5.995z" />
                        </svg>
                    </small>
                    متاسفیم!
                </h2>
                <p>در حال انجام درخواست شما بودیم که ...</p>
                @if (TempData["Error"] == null || string.IsNullOrEmpty((string)TempData["Error"]))
                {
                    <div class="font-weight-bold mb-2">
                        خطایی پیش بینی نشده مانع شد.
                        <br>
                        لطفاً دوباره تلاش کنید.
                        <div>
                            <div class="badge badge-danger">این نسخه در حالت پیش نمایش قرار دارد.</div>
                        </div>
                    </div>
                }
                else
                {
                    @Html.Raw(TempData["Error"]);
                }

                @if (Model.ShowRequestId)
                {
                    <hr />
                    <span>برای پیگیری از این شناسه استفاده کنید.</span>
                    <div>
                        <strong>شناسه درخواست:</strong> <div class="badge badge-dark p-2"><code class="text-white">@Model.RequestId</code></div>
                    </div>
                }
            </div>
        </div>
        <div class="col-12 col-md-6 mx-auto">
            <a class="btn btn-block btn-success mx-auto" href="/">
                <svg class="bi bi-arrow-counterclockwise" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M12.83 6.706a5 5 0 00-7.103-3.16.5.5 0 11-.454-.892A6 6 0 112.545 5.5a.5.5 0 11.91.417 5 5 0 109.375.789z" clip-rule="evenodd" />
                    <path fill-rule="evenodd" d="M7.854.146a.5.5 0 00-.708 0l-2.5 2.5a.5.5 0 000 .708l2.5 2.5a.5.5 0 10.708-.708L5.707 3 7.854.854a.5.5 0 000-.708z" clip-rule="evenodd" />
                </svg>
                تلاش دوباره
            </a>
        </div>
    </div>
</div>