@model UrlShortener.Web.Models.ViewModels.UrlCreateEditViewModel
@{
    ViewData["Title"] = "کوتاه کننده لینک • وبسایت شخصی علیرضا رضائی";
    var siteDomain = "rezaee.org";
}
@section Head {
    <script src="https://www.google.com/recaptcha/api.js?hl=fa" async defer></script>
    <style>
        body > div:last-child {
            direction: rtl;
            overflow-x: hidden;
        }

        .field-validation-error::before {
            display: inline-block;
            content: "";
            background-image: url("data:image/svg+xml,<svg class='bi bi-exclamation-diamond' width='1em' height='1em' viewBox='0 0 16 16' fill='red' xmlns='http://www.w3.org/2000/svg'> <path fill-rule='evenodd' d='M6.95.435c.58-.58 1.52-.58 2.1 0l6.515 6.516c.58.58.58 1.519 0 2.098L9.05 15.565c-.58.58-1.519.58-2.098 0L.435 9.05a1.482 1.482 0 010-2.098L6.95.435zm1.4.7a.495.495 0 00-.7 0L1.134 7.65a.495.495 0 000 .7l6.516 6.516a.495.495 0 00.7 0l6.516-6.516a.495.495 0 000-.7L8.35 1.134z' clip-rule='evenodd'/> <path d='M7.002 11a1 1 0 112 0 1 1 0 01-2 0zM7.1 4.995a.905.905 0 111.8 0l-.35 3.507a.552.552 0 01-1.1 0L7.1 4.995z'/> </svg>");
            background-repeat: no-repeat;
            background-size: 1rem 1rem;
            width: 1em;
            height: 1em;
            vertical-align: middle;
            margin-left: 0.25rem;
        }
    </style>
}

<div class="container mt-5">
    <h1 class="d-inline-block font-weight-bold p-2 bg-dark text-white rounded-left" style="font-size:1.5rem"><a asp-controller="url" asp-action="index" class="text-white text-decoration-none">کوتاه کننده لینک</a></h1>
    <div class="mt-1"><small class="text-light p-1" style="background-color: #600;">نسخه پیشنمایش</small></div>

    <form class="mt-3" asp-controller="url" asp-action="index" autocomplete="off">
        <div class="row">
            <div class="col-12">
                <div class="mb-3">
                    <div class="input-group dir-ltr mb-2">
                        <input asp-for="Url" class="form-control dir-ltr text-left" placeholder="https://www.example.com/ - نشانی کامل را وارد کنید">
                        <label asp-for="Url" class="input-group-append" style="direction: rtl;">
                            <span class="input-group-text">نشانی</span>
                        </label>
                    </div>
                    <span asp-validation-for="Url" class="text-danger"></span>
                </div>

                <div>
                    <div class="custom-control custom-checkbox">
                        <input asp-for="IsCustomShortLink" type="checkbox" class="custom-control-input js-customlink-check">
                        <label asp-for="IsCustomShortLink" class="custom-control-label">نشانی دلخواه</label>
                    </div>
                    <span class="text-danger js-customlink-error field-validation-error d-none"></span>
                </div>

                <div class="my-3">
                    <div class="input-group dir-ltr js-customlink-div">
                        <label asp-for="CustomShortLink" class="input-group-prepend text-left">
                            <span class="input-group-text">https://@siteDomain/</span>
                        </label>
                        <input asp-for="CustomShortLink" class="form-control dir-ltr text-left js-customlink-input" placeholder="Select the short link you want - نشانی دلخواهی انتخاب کنید">
                    </div>
                </div>


                <div class="text-center">
                    <div>
                        <div class="d-inline-block text-center g-recaptcha" data-sitekey="6LfKS-sUAAAAAJSBBvRF7oKHW3AmAGm5ijt2lBrc" data-callback="setRecaptchaResponse" data-expired-callback="setRecaptchaExpire"></div>
                        <input id="recaptcha" asp-for="Recaptcha" class="border-0" style="width:0; height:0;" />
                    </div>
                    <span asp-validation-for="Recaptcha" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row my-3">
            <div class="col-9 col-md-6 mx-auto">
                <button type="submit" class="btn btn-block btn-success">دریافت</button>
            </div>
        </div>
    </form>
</div>
<div></div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        (function () {
            let recaptcha = {
                InputElem: document.getElementById('recaptcha'),
                setResponse: (response) => recaptcha.InputElem.value = response,
                setExpire: () => recaptcha.InputElem.value = ""
            };
            window.setRecaptchaResponse = recaptcha.setResponse;
            window.setRecaptchaExpire = recaptcha.setExpire;

            let customLink = {
                formElem: document.getElementsByTagName("form")[0],
                checkElem: document.getElementsByClassName("js-customlink-check")[0],
                inputDivElem: document.getElementsByClassName("js-customlink-div")[0],
                inputElem: document.getElementsByClassName("js-customlink-input")[0],
                errorElem: document.getElementsByClassName("js-customlink-error")[0],
                errorText: "در صورتی گزینه «نشانی دلخواه» را انتخاب کرده اید وارد کردن آن الزامی است.",
                wasSubmitted: false,
                trimValue: (inputElem) => inputElem.value = inputElem.value.trim(),
                trimValuesEvent: () => {
                    let inputs = document.querySelectorAll('input[type=text]');
                    for (let i = 0; i < inputs.length; i++) {
                        inputs[i].addEventListener("change", () => customLink.trimValue(inputs[i]))
                    }
                },
                isChecked: () => (customLink.checkElem.checked === true) ? true : false,
                resetInputDisplay: () => {
                    customLink.validation();
                    if (customLink.isChecked())
                        $(customLink.inputDivElem).show();
                    else
                        $(customLink.inputDivElem).hide();
                },
                inputDisplayEvent: () => {
                    customLink.resetInputDisplay();
                    customLink.checkElem.addEventListener("change", () => customLink.resetInputDisplay());
                },
                validation: () => {
                    if (customLink.wasSubmitted && customLink.isChecked() && !customLink.inputElem.value) {
                        customLink.errorElem.classList.remove('d-none');
                        customLink.errorElem.innerText = customLink.errorText;
                    }
                    else {
                        customLink.errorElem.classList.add('d-none');
                        customLink.errorElem.innerText = "";
                    }
                },
                validationEvent: () => {
                    customLink.formElem.addEventListener("submit", (e) => {
                        customLink.wasSubmitted = true;
                        customLink.validation();
                        if (customLink.isChecked() && !customLink.inputElem.value) e.preventDefault();
                    });
                }
            };

            customLink.inputDisplayEvent();
            customLink.validationEvent();
            customLink.trimValuesEvent();
        })();
    </script>
}