@model UrlShortener.Web.Models.ViewModels.UrlCreateEditViewModel
@{
    ViewData["Title"] = "کوتاه کننده لینک • وبسایت شخصی علیرضا رضائی";
    var siteDomain = "rezaee.org";
}

<div class="container my-5">
    <h1 class="d-inline-block font-weight-bold p-2 bg-dark text-white rounded-left" style="font-size:1.5rem"><a asp-controller="url" asp-action="index" class="text-white text-decoration-none">کوتاه کننده لینک</a></h1>
    <div class="mt-1"><small class="text-light p-1" style="background-color: #600;">نسخه پیشنمایش</small></div>

    <div class="alert alert-success my-3">
        لینک شما آماده است.
    </div>

    <div class="input-group mb-3 dir-ltr">
        <input id="shortlink" class="form-control dir-ltr text-left text-primary cursor-pointer" readonly value="https://@siteDomain/@ViewData["ShortLink"]" data-toggle="popover" title="متن">
        <label for="shortlink" class="input-group-append" style="direction: rtl;">
            <span class="input-group-text">نشانی</span>
        </label>
        <div class="position-absolute" style="z-index: 99; bottom: 100%;">
            <div id="toast-copy" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header" style="direction: rtl">
                    <span class="material-icons js-icon mx-2"></span>
                    <strong class="ml-auto js-title">Bootstrap</strong>
                    <button type="button" class="mr-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="toast-body js-content" style="direction: rtl;">
                    Hello, world! This is a toast message.
                </div>
            </div>
        </div>
    </div>

    <div class="row my-3">
        <div class="col-9 col-md-6 mx-auto">
            <a asp-controller="Url" asp-action="Index" class="btn btn-block btn-primary">از نو</a>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        (function () {
            $('#toast-copy').toast({
                delay: 2500

            });

            let copyLink = {
                inputElem: document.getElementById('shortlink'),
                toastElem: document.getElementById('toast-copy'),
                getShortLinkText: () => copyLink.inputElem.value.substring(8, copyLink.inputElem.value.length),
                successfulUi: () => {
                    $(copyLink.toastElem).find('.js-icon').html('<svg class="bi bi-check-circle" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M15.354 2.646a.5.5 0 010 .708l-7 7a.5.5 0 01-.708 0l-3-3a.5.5 0 11.708-.708L8 9.293l6.646-6.647a.5.5 0 01.708 0z" clip-rule="evenodd" /><path fill-rule="evenodd" d="M8 2.5A5.5 5.5 0 1013.5 8a.5.5 0 011 0 6.5 6.5 0 11-3.25-5.63.5.5 0 11-.5.865A5.472 5.472 0 008 2.5z" clip-rule="evenodd" /></svg>');
                    $(copyLink.toastElem).find('.js-title').text('رونوشت گرفته شد');
                    $(copyLink.toastElem).find('.js-content').text('اکنون هر کجا بخواهید میتوانید آنرا الصاق کنید.');
                    $(copyLink.toastElem).toast('show');
                },
                unsuccessfulUi: () => {
                    $(copyLink.toastElem).find('.js-icon').html('<svg class="bi bi-exclamation-circle" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 15A7 7 0 108 1a7 7 0 000 14zm0 1A8 8 0 108 0a8 8 0 000 16z" clip-rule="evenodd" /><path d="M7.002 11a1 1 0 112 0 1 1 0 01-2 0zM7.1 4.995a.905.905 0 111.8 0l-.35 3.507a.552.552 0 01-1.1 0L7.1 4.995z" /></svg>');
                    $(copyLink.toastElem).find('.js-title').text("مو");
                    $(copyLink.toastElem).find('.js-content').text('However, you can copy it yourself.');
                    $(copyLink.toastElem).toast('show');
                },
                fallbackCopyTextToClipboard: function (text) {
                    var textArea = document.createElement("textarea");
                    textArea.value = text;

                    // Avoid scrolling to bottom
                    textArea.style.top = "0";
                    textArea.style.left = "0";
                    textArea.style.position = "fixed";

                    document.body.appendChild(textArea);
                    textArea.focus();
                    textArea.select();

                    try {
                        var successful = document.execCommand('copy');
                        if (successful) copyLink.successfulUi();
                        else copyLink.unsuccessfulUi();
                    } catch (err) {
                        copyLink.unsuccessfulUi();
                    }

                    document.body.removeChild(textArea);
                },
                copyTextToClipboard: function (text) {
                    if (!navigator.clipboard) {
                        copyLink.fallbackCopyTextToClipboard(text);
                        return;
                    }
                    navigator.clipboard.writeText(text).then(function () {
                        copyLink.successfulUi();
                    }, function (err) {
                        copyLink.unsuccessfulUi();
                    });
                },
                copyShortLinkEvent: () => {
                    copyLink.inputElem.addEventListener("click", function () {
                        copyLink.copyTextToClipboard(copyLink.getShortLinkText());
                    });
                }
            }

            copyLink.copyShortLinkEvent();
        })();

        //var copyTextareaBtn = document.querySelector('#shortlink');
        //copyTextareaBtn.addEventListener('click', function (event) {
        //    var copyTextarea = document.querySelector('#shortlink');
        //    copyTextarea.focus();
        //    copyTextarea.select();
        //    copyText.setSelectionRange(0, 99999);
        //    var toast = $("#toast-copy");
        //    try {
        //        var successful = document.execCommand('copy');
        //        toast.find('.js-icon').text('tag_faces');
        //        toast.find('.js-title').text('رونوشت گرفته شد');
        //        toast.find('.js-content').text('اکنون هر کجا بخواهید میتوانید آنرا الصاق کنید.');
        //        toast.toast('show');
        //    } catch (err) {
        //        toast.find('.js-icon').text('sentiment_dissatisfied');
        //        toast.find('.js-title').text("مو");
        //        toast.find('.js-content').text('However, you can copy it yourself.');
        //        toast.toast('show');
        //    }
        //});


    </script>
}