@using System
@using static Rezaee.Alireza.Web.Extensions.IntExtensions
@model Rezaee.Alireza.Web.Models.ViewModels.Pages.CreateEditViewModel
@{
    Layout = "_PostLayout";
    ViewData["Title"] = "برگ جدید";

    var Avatar = new
    {
        x150 = "/uploads/profile/avatar-150x.jpg",
        x125 = "/uploads/profile/avatar-125x.jpg",
        x100 = "/uploads/profile/avatar-100x.jpg",
        x64 = "/uploads/profile/avatar-64x.jpg"
    };
    var fullName = "علیرضا رضائی";

    var persianPostDate = PersianDateTime.Now;
}
@section Head {
    <environment include="Development">
        <link href="~/lib/md.datetimepicker/3.9.2/dist/jquery.md.bootstrap.datetimepicker.style.css" rel="stylesheet" />
        <script src="~/lib/tinymce/5.6.2/tinymce.min.js"></script>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://unpkg.com/md.bootstrappersiandatetimepicker@3.9.2/dist/jquery.md.bootstrap.datetimepicker.style.css"
              asp-fallback-href="~/lib/md.datetimepicker/3.9.2/dist/jquery.md.bootstrap.datetimepicker.style.css"
              asp-fallback-test-class="mds-bootstrap-persian-datetime-picker-container"
              asp-fallback-test-property="position"
              asp-fallback-test-value="relative"
              integrity="sha384-BWw05/YIaujVL2cVot1Obhfj9QDUVHZAw2YgBvRBTJshXE+neKFhHXW1+wrLGr5q"
              crossorigin="anonymous" />
        <script src="https://unpkg.com/tinymce@5.6.2/tinymce.min.js"
                asp-fallback-src="~/lib/tinymce/5.6.2/tinymce.min.js"
                asp-fallback-test="window.tinymce"
                integrity="sha384-fPYbu2VaXTDuM6wPh2f7vikhCeSvDZiBDuXQX8/CVQG5SNOyI1isjcTdIb/gmtdE"
                crossorigin="anonymous"></script>
    </environment>
    <script src="~/lib/tinymce-lang/langs/fa.js"></script>

    <style>
        .bg-size-cover {
            background-size: cover;
        }

        .bg-no-repeat {
            background-repeat: no-repeat;
        }
    </style>
    <script>
        tinymce.init({
            selector: 'textarea',
            directionality: 'rtl',
            language: 'fa',

            plugins: "code image searchreplace wordcount link",

            content_style: "body {font-family: IRANSans;}",

            rel_list: [
                { title: 'No Referrer', value: 'noreferrer' },
                { title: 'External Link', value: 'external' }
            ],

            setup: function (editor) {
                editor.on('change', function () {
                    editor.save();
                });
            }
        });
    </script>
}

<form asp-controller="Pages" asp-action="Creating" enctype="multipart/form-data">
    <div id="header" class="text-center" style="margin-bottom: calc(5rem + 26px); height: 45vh">
        <div id="hnav-besm" class="mx-auto py-2"></div>
        <div class="container h-100 text-right">
            <label asp-for="CoverImage" id="CoverImage-preview" class="btn cover h-100 w-100 rounded-top border border-danger cursor-pointer mb-1 d-flex justify-content-center align-items-center bg-size-cover bg-no-repeat" style="background-image: repeating-linear-gradient(-45deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2) 20px, rgba(0,0,0,0.3) 20px, rgba(0,0,0,0.3) 40px), url('/uploads/profile/cover.jpg');">
                <span class="badge bg-secondary">
                    محل نمایش تصویر جلد
                </span>
            </label>
            <input type="file" class="d-none" asp-for="CoverImage" id="CoverImage" />
            <nav id="hnav" style="padding-right: 0;">
                <div class="d-inline-block" style="background-color: #08c; color: white; line-height: 3; padding-left: 10px; padding-right: 10px; border-right: 5px solid #006293;">
                    برگ
                </div>
                <div id="hnav-list" class="d-flex pr-0 mb-0 rounded-bottom position-relative">
                    <div class="mr-auto position-relative">
                        <button type="button"
                                class="btn btn-default h-100 d-block d-sm-none nav-shortcuts-trigger" id="js-nav-shortcuts-trigger">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-list" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M2.5 11.5A.5.5 0 0 1 3 11h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 3h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"></path>
                            </svg>
                        </button>
                        <ul class="d-none d-sm-flex align-items-center pr-0 nav-shortcuts" id="js-nav-shortcuts">
                            <partial name="_HeadNavPartial" />
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div style="height: 1px;"></div>

    <div class="container">
        <div class="row">
            <div class="col">
                <input asp-for="Page.Title" class="form-control text-center mb-3 font-weight-bold" placeholder="عنوانی وارد کنید" style="line-height: 3; color: #006293; font-size: 1.5rem;">
            </div>
        </div>

        <div class="row my-3 justify-content-center align-items-center">
            <img src="@Avatar.x64" alt="@fullName" class="rounded-circle my-1 my-md-0 p-0" style="width: 35px; height:35px;" />
            <div class="col-12 col-md-4 text-center my-1 my-md-0" id="datepicker">
                <input type="text" id="post-publish-datepicker" class="form-control text-center" placeholder="@persianPostDate.ToString("dd MMMM yyyy").EnglishNumberToPersian()" readonly>
                <input type="hidden" asp-for="Page.CreateDateTime" id="post-publish-date" class="form-control text-center" value="@DateTime.Now">
            </div>
            <div class="col-12 col-md-4 text-center my-1 my-md-0">
                <input type="number" class="form-control text-center" placeholder="زمان مطالعه (دقیقه)" min="1" readonly>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <label asp-for="Page.Path" class="my-2">نشانی صفحه:</label>
                <input asp-for="Page.Path" class="form-control text-left mb-3 dir-ltr" placeholder="e.g. AboutMe, Biography, Resume, etc." style="color: #006293;">
            </div>
        </div>

        <label asp-for="Page.Html" class="my-2">محتوا:</label>
        <textarea asp-for="Page.Html"></textarea>

        <div class="row my-3">
            <div class="col-12 col-md-6">
                <div class="form-check mr-sm-2">
                    <input type="checkbox" class="form-check-input" asp-for="Page.HasLayout" checked="checked">
                    <label class="form-check-label text-black-50" asp-for="Page.HasLayout">آیا محتوای HTML شامل پوسته مستقل از قالب سایت است؟</label>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="form-check mr-sm-2">
                    <input type="checkbox" class="form-check-input" asp-for="Page.IsVisible" checked="checked">
                    <label class="form-check-label text-black-50" asp-for="Page.IsVisible">آیا قابل مشاهده باشد؟</label>
                </div>
            </div>
        </div>

        <div class="text-left">
            <button class="btn btn-warning">
                انصراف
            </button>
            <button type="submit" class="btn btn-primary">
                افزودن
            </button>
        </div>
    </div>
</form>

@section Scripts {
    <environment include="Development">
        <script src="~/lib/md.datetimepicker/3.9.2/dist/jquery.md.bootstrap.datetimepicker.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://unpkg.com/md.bootstrappersiandatetimepicker@3.9.2/dist/jquery.md.bootstrap.datetimepicker.js"
                asp-fallback-src="~/lib/md.datetimepicker/3.9.2/dist/jquery.md.bootstrap.datetimepicker.js"
                asp-fallback-test="$().MdPersianDateTimePicker"
                integrity="sha384-rgpJ4t5Ua4uv3gHXNjXF4TeaNiaQJyIqcOk9+ODg1AQRi82FXFICBjqLlkacMpk0"
                crossorigin="anonymous"></script>
    </environment>

    <script>
        $('#datepicker').MdPersianDateTimePicker({
            targetTextSelector: '#post-publish-datepicker',
            targetDateSelector: '#post-publish-date',
            textFormat: 'dd MMMM yyyy'
        });

        $('#CoverImage').change(function (e) {
            var preview = $('#' + $(e.target).attr('id') + '-preview');

            preview.src = URL.createObjectURL(event.target.files[0]);
            preview.css('background-image', 'url(' + preview.src + ')');
            preview.onload = function () {
                URL.revokeObjectURL(preview.src);
            }
        });
    </script>
}