@page
@model LoginWith2faModel
@{
    ViewData["Title"] = "احراز هویت دو مرحله ای";
}

<h1>@ViewData["Title"]</h1>
<hr />
<p>حساب کاربری شما از طریق نرم افزار احراز هویت محافظت میشود. کد نرم افزار را وارد کنید.</p>
<div class="row">
    <div class="col-12 col-md-6">
        <form method="post" asp-route-returnUrl="@Model.ReturnUrl">
            <input asp-for="RememberMe" type="hidden" />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="Input.TwoFactorCode"></label>
                <input asp-for="Input.TwoFactorCode" class="form-control" autocomplete="off" />
                <span asp-validation-for="Input.TwoFactorCode" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <div class="checkbox">
                    <label asp-for="Input.RememberMachine">
                        <input asp-for="Input.RememberMachine" />
                        @Html.DisplayNameFor(m => m.Input.RememberMachine)
                    </label>
                </div>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary">ورود</button>
            </div>
        </form>
    </div>
</div>
<p>
    به دستگاه خود دسترسی ندارد؟
    برای ورود از
    <a id="recovery-code-login" asp-page="./LoginWithRecoveryCode" asp-route-returnUrl="@Model.ReturnUrl">کد های پشتیبانی</a>
    استفاده کنید.
</p>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
