@model IEnumerable<AlirezaRezaee.PersonalNotes.WeblogApp.Models.ViewModels.Posts.SwitchPostTypeViewModel>
@{
    ViewData["Title"] = "تغییر نوع ارسالی";
}

<div class="container my-5">
    <div class="row links rounded justify-content-center mb-3" style="margin-top: 5rem;">

        @foreach (var postType in Model)
        {
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="my-2 position-relative">
                    <div class="d-flex links-content links-item">
                        <a href="@postType.SwitchUrl" target="_blank" rel="noreferrer noopener" class="links-site-link links-link p-2 rounded-0" style="z-index: 2;">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-box-arrow-in-up-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M6.364 13.5a.5.5 0 0 0 .5.5H13.5a1.5 1.5 0 0 0 1.5-1.5v-10A1.5 1.5 0 0 0 13.5 1h-10A1.5 1.5 0 0 0 2 2.5v6.636a.5.5 0 1 0 1 0V2.5a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v10a.5.5 0 0 1-.5.5H6.864a.5.5 0 0 0-.5.5z"></path>
                                <path fill-rule="evenodd" d="M11 5.5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793l-8.147 8.146a.5.5 0 0 0 .708.708L10 6.707V10.5a.5.5 0 0 0 1 0v-5z"></path>
                            </svg>
                        </a>
                        <a href="@postType.SwitchUrl" class="links-link d-block p-2 w-100 stretched-link overflow-hidden">
                            <i class="caption">@postType.PostTypeName</i>
                        </a>
                    </div>
                </div>
            </div>
        }

    </div>
</div>

