/* .post {} */

.post h3 {
    font-size: 1rem;
}

.post .post-image {
    width: 200px;
    height: 250px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media(max-width: 991px) {
    .post .post-image {
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        opacity: 0.15;
    }
}
