/* .post {} */

.post h2 {
    font-size: 1.5rem;
    font-weight: 500;
}

.post .card-footer {
    padding: 0.5rem 1.25rem;
    background-color: rgba(0, 0, 0, 0.03);
    border-top: 1px solid rgba(127, 127, 127, 0.15);
}

.post .card-footer:first-child {
    border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.post .post-summary, .post .card-footer {
    position: relative;
}