
@{
    ViewData["Title"] = "Test";
}

<div class="container mt-4">
    <div class="row">
        <div class="col-12">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">عنوان</th>
                        <th class="text-center">
                            جا به جایی
                        </th>
                    </tr>
                </thead>
                <tbody id="recommended-posts" data-max-rows="10">
                    @for (int i = 0; i < 5; i++)
                    {
                        <tr class="js-recommended-posts-loading">
                            <th scope="row" class="align-middle">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated w-100" style="background-color: #ccc;"></div>
                                </div>
                            </th>
                            <td class="align-middle">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated w-100" style="background-color: #ccc;"></div>
                                </div>
                            </td>
                            <td class="p-0 align-middle" style="width: 140px;">
                                <div class="py-3 text-center">
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped progress-bar-animated w-100" style="background-color: #ccc;"></div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <form>
                @Html.AntiForgeryToken()
            </form>

            <div id="test"></div>

            <div class="mb-2">
                <span class="material-icons text-success align-middle">
                    add_circle_outline
                </span>
                برای
                <strong class="text-success">افزودن</strong>
                مطالب پیشنهادی از داخل هر مطلب و یا همچنین از
                <a asp-controller="posts" asp-action="index">فهرست مطالب</a>
                می توانید گزینه
                «پیشنهاد مطلب»
                را انتخاب کنید.
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        const recommendation = {
            rows: [],
            maxRows: 10,
            deleteRowById: function (id) {
                let self = this;
                self.deleteRowByIdUI(id);
                $.ajax({
                    url: '/recommendations/delete',
                    data: {
                        id: self.getPostIdByRowNum(id),
                        __RequestVerificationToken: self.get__RequestVerificationToken()
                    },
                    complete: function () {
                        self.pullRows();
                    }
                });
            },
            deleteRowByIdUI(id) {
                $(this.getElementById(id)).hide(300);
            },
            ChangeRank: function (id, currentRank, isUpgrade) {
                let self = this;
                $.ajax({
                    url: '/recommendations/changerank',
                    data: {
                        id: id,
                        currentRank: currentRank,
                        isUpgrade: isUpgrade,
                        __RequestVerificationToken: self.get__RequestVerificationToken()
                    },
                    success: function () {
                        self.pullRows();
                    }
                });
            },
            pullRows() {
                let self = this;
                $.ajax({
                    method: 'GET',
                    url: '/recommendations/list',
                    success: function (data) {
                        self.rows = data;
                        self.resetRowsUI();
                    },
                    error: function () {

                    }
                })
            },
            resetRowsUI: function () {
                let posts = '';
                recommendation.reorderRows();

                for (let i = 1, j = 0; i <= recommendation.getLastRank() && j < this.rows.length; i++) {
                    if (recommendation.rows[j].rank == i) {
                        var row = recommendation.rows[j++];
                        posts += recommendation.getRowHtml(row.id, row.rank, row.title, row.url);
                    }
                    else
                        posts += recommendation.getRowHtml();
                }
                for (let i = recommendation.getLastRank(); i < this.maxRows; i++) {
                    posts += recommendation.getRowHtml();
                }

                //$(document.querySelector('.js-recommended-posts-loading')).hide(300, function () {
                document.querySelector('tbody#recommended-posts').innerHTML = posts;

                const deleteButtons = document.querySelectorAll(".js-delete");
                for (let i = 0; i < deleteButtons.length; i++) {
                    deleteButtons[i].addEventListener('click', e => {
                        recommendation.deleteRowById($(e.target).parents('tr[data-id]').data('id'));
                    });
                }

                const upgradeButtons = document.querySelectorAll(".js-upgrade");
                for (let i = 0; i < upgradeButtons.length; i++) {
                    upgradeButtons[i].addEventListener('click', e => {
                        recommendation.ChangeRank(this.getId(e.target), this.getRank(e.target), true);
                    });
                }

                const downgradeButtons = document.querySelectorAll(".js-downgrade");
                for (let i = 0; i < downgradeButtons.length; i++) {
                    downgradeButtons[i].addEventListener('click', e => {
                        recommendation.ChangeRank(this.getId(e.target), this.getRank(e.target), false);
                    });
                }
                //});
            },
            getElementById: (num) => document.querySelectorAll('tr[data-id="' + num + '"]')[0],
            getPostIdByRowNum: (num) => recommendation.getElementById(num).dataset.id,
            get__RequestVerificationToken: () => document.getElementsByName('__RequestVerificationToken')[0].value,
            getId: (element) => element.closest('tr[data-id]').dataset.id,
            getRank: (element) => element.closest('tr[data-id]').dataset.rank,
            reorderRows: () => {
                recommendation.rows.sort(function (a, b) {
                    return a.rank - b.rank;
                });
            },
            getLastRank: () => {
                return recommendation.rows[recommendation.rows.length - 1].rank;
            },
            getRowHtml: function (id = '', rank = '', title = '', url = '') {
                return '<tr' + ((id == '') ? '' : ' data-id="' + id + '"') + ((rank == '') ? '' : ' data-rank="' + rank + '"') + '>'
                + '<th class="align-middle"><div class="badge bg-success">' + rank.toLocaleString('fa') + '</div></th>'
                + '<td class="align-middle">' + ((url == '') ? '' : '<a href="' + url + '">') + title + ((url == '') ? '' : '</a>') + '</td>'
                + '<td class="p-0 align-middle text-center" style="width: 140px">'
                + '<div class="btn-group py-3 text-center">'
                + '<button class="btn btn-sm material-icons' + ((id == '') ? ' btn-light" disabled' : ' btn-warning js-downgrade"') + '>keyboard_arrow_down</button>'
                + '<button class="btn btn-sm material-icons' + ((id == '') ? ' btn-light" disabled' : ' btn-danger js-delete"') + '>close</button>'
                + '<button class="btn btn-sm material-icons' + ((id == '') ? ' btn-light" disabled' : ' btn-success js-upgrade"') + (rank == 1 ? ' disabled' : "") + '>keyboard_arrow_up</button>'
                + '</div>'
                + '</td>'
                + '</tr>';
            }
        }
        recommendation.pullRows();
    </script>
}