@{
    Layout = "/Views/Shared/_ContainerLayout.cshtml";
}
@section Head {
    @RenderSection("Head", required: false)
}

<h1>مدیریت حساب</h1>

<div>
    <h4>تغییر تنظیمات حساب کاربری</h4>
    <hr />
    <div class="row">
        <div class="col-12 col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-12 col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
