@page
@model Disable2faModel
@{
    ViewData["Title"] = "غیرفعال سازی احراز هویت دو مرحله ای";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h2>@ViewData["Title"]</h2>
<hr />
<div class="alert alert-warning" role="alert">
    <p>
        <strong>
            این کار فقط باعث غیرفعال سازی احراز هویت دو مرحله ای می شود.
        </strong>
    </p>
    <p>
        غیرفعال فعال سازی احراز هویت دو مرحله ای، کلید های موجود نرم افزار احراز هویت را تغییر نخواهد داد. در صورتی که
        میخواهید کلید های نرم افزار را تغییر دهید باید کلید ها را
        <a asp-page="./ResetAuthenticator">
            تنظیم مجدد
        </a>
        کنید.
    </p>
</div>

<div>
    <form method="post" class="mb-3">
        <button class="btn btn-danger" type="submit">غیرفعال سازی</button>
    </form>
</div>
