@page
@model DownloadPersonalDataModel
@{
    ViewData["Title"] = "دریافت داده های شخصی";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4>@ViewData["Title"]</h4>
<hr />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}