@page
@model GenerateRecoveryCodesModel
@{
    ViewData["Title"] = "ساخت کد های بازیابی احراز هویت دو مرحله ای";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h4>@ViewData["Title"]</h4>
<hr />
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>این کد ها را در محلی امن قرار دهید.</strong>
    </p>
    <p>
        اگر دستکاه خود را و همچنین کد های بازیابی را گم کنید آنگاه دسترسی  به حساب کاربری خود را از دست می دهید.
    </p>
    <p>
        ساخت کد های بازیابی جدید، کلید های موجود نرم افزار احراز هویت را تغییر نخواهد داد. در صورتی که
        میخواهید کلید های نرم افزار را تغییر دهید باید کلید ها را
        <a asp-page="./ResetAuthenticator">
            تنظیم مجدد
        </a>
        کنید.
    </p>
</div>
<div>
    <form method="post" class="mb-3">
        <button class="btn btn-danger" type="submit">ساخت کد های بازیابی</button>
    </form>
</div>