@page
@model TwoFactorAuthenticationModel
@{
    ViewData["Title"] = "احراز هویت دو مرحله ای";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h4>@ViewData["Title"]</h4>
<hr />
@if (Model.Is2faEnabled)
{
    if (Model.RecoveryCodesLeft == 0)
    {
        <div class="alert alert-danger">
            <strong>شما دیگر هیچ کد بازیابی ندارید.</strong>
            پیش از آنکه با یک کد بازیابی به حساب خود وارد شوید باید به
            <a asp-page="./GenerateRecoveryCodes">
                ساخت مجموعه جدیدی از کد های بازیابی
            </a>
            اقدام کنید.
        </div>
    }
    else if (Model.RecoveryCodesLeft == 1)
    {
        <div class="alert alert-danger">
            <strong>
                شما هنوز ۱ کد بازیابی دارید.
            </strong>
            <p>
                شما میتوانید به
                <a asp-page="./GenerateRecoveryCodes">
                    ساخت مجموعه جدیدی از کد های بازیابی
                </a>
                اقدام کنید.
            </p>
        </div>
    }
    else if (Model.RecoveryCodesLeft <= 3)
    {
        <div class="alert alert-warning">
            <strong>
                شما هنوز
                @Model.RecoveryCodesLeft
                کد بازیابی دارید.
            </strong>
            <p>
                شما میتوانید به
                <a asp-page="./GenerateRecoveryCodes">
                    ساخت مجموعه جدیدی از کد های بازیابی
                </a>
                اقدام کنید.
            </p>
        </div>
    }

    if (Model.IsMachineRemembered)
    {
        <form method="post" style="display: inline-block">
            <button type="submit" class="btn btn-warning">این مرورگر را فراموش کن</button>
        </form>
    }
    <a asp-page="./Disable2fa" class="btn btn-danger">غیرفعال سازی احراز هویت دو مرحله ای</a>
    <a asp-page="./GenerateRecoveryCodes" class="btn btn-warning">تنظیم مجدد کد های بازیابی</a>
    <br class="my-4" />
}

<h5>نرم افزار احراز هویت</h5>
@if (!Model.HasAuthenticator)
{
    <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-success">افزودن نرم افزار احراز هویت</a>
}
else
{
    <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-primary">راه اندازی نرم افزار احراز هویت</a>
    <a id="reset-authenticator" asp-page="./ResetAuthenticator" class="btn btn-warning">تنظیم مجدد نرم افزار احراز هویت</a>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}