@using System.Web;
<div id="footer">
    <div class="rounded-circle p-3 bg-white mx-auto position-relative js-gotop gotop">
        <div class="upper"></div>
    </div>
    @Html.Raw(HttpUtility.HtmlDecode(ViewBag.ProfileOptions.SiteFootnote))
</div>