<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/4.5.0/css/bootstrap.css" />
        @*<link rel="stylesheet" href="~/fonts/Material-Icons/material-icons.css" />*@
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined" />
        <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.css"
              asp-fallback-href="~/lib/bootstrap/4.4.1/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only"
              asp-fallback-test-property="position"
              asp-fallback-test-value="absolute"
              asp-suppress-fallback-integrity="true"
              integrity="sha256-1hm7xPFY4HL/GPfWz595kcNLVmuMC43nPagoQhWTb58=" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined"
              asp-fallback-href="~/fonts/Material-Icons/material-icons.min.css"
              asp-fallback-test-class="material-icons"
              asp-fallback-test-property="white-space"
              asp-fallback-test-value="nowrap" />
    </environment>
    @RenderSection("Head", required: false)
    <style>
    </style>
</head>
<body>
    <div class="wrapper position-relative mnh-100vh">
        @RenderBody()
        @await Component.InvokeAsync("HeaderFooter", new { page = "FootCover" })
    </div>
    <environment include="Development">
        <script src="~/lib/jquery/3.5.1/jquery.js"></script>
        <script src="~/lib/bootstrap/4.5.0/js/bootstrap.bundle.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/3.5.1/jquery.min.js"
                asp-fallback-test="window.jQuery"
                asp-suppress-fallback-integrity="true"
                integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/4.5.0/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                asp-suppress-fallback-integrity="true"
                integrity="sha256-Xt8pc4G0CdcRvI0nZ2lRpZ4VHng0EoUDMlGcBSQ9HiQ=" crossorigin="anonymous"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    @RenderSection("Scripts", required: false)
</body>
</html>