@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "فراموشی گذرواژه";
}

<h1>@ViewData["Title"]</h1>
<h4>رایانامه خود را وارد کنید.</h4>
<hr />
<div class="row">
    <div class="col-12 col-md-6">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">تایید</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
