// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

#header {
    position: relative;
    width: 100%;
    height: 33vh;
    background-color: #eee;
}

#hnav-besm {
    background: url(../img/besm.png) no-repeat center;
    background-size: contain;
    width: 75px;
    height: 26px;
    box-sizing: content-box;
}

#header nav {
    padding-right: 75px;
}

#header .container {
    position: relative;
}

#header .cover {
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-bottom-left-radius: 0 !important;
}

#header .cover-avatar {
    width: 150px;
    height: 150px;
    margin-top: -75px;
    text-align: left;
    min-width: 64px;
}

#header .cover-avatar img {
    border: 5px solid #fff;
}


#hnav {
    display: -webkit-flex;
    /* Safari */
    display: flex;
}

#hnav-list {
    display: inline-block;
    -webkit-flex: 1;
    /* Safari 6.1+ */
    -ms-flex: 1;
    /* IE 10 */
    flex: 1;
    background-color: #eee;
    height: 3rem;
}

#hnav-list > li {
    position: relative;
    display: inline-block;
    height: 100%;
    z-index: 0;
    vertical-align: middle;
}

#hnav-list li a {
    display: inline-block;
}


.nav-shortcuts a {
    font-family: 'Material Icons Outlined';
    font-size: 20px;
    transition: all 0.2s;
    color: #7b7b7b;
}

.nav-shortcuts a:hover {
    background-color: #d0d0d0;
    border-radius: 1rem;
    text-decoration: none;
}

.nav-shortcuts-trigger {
    color: #7b7b7b;
    width: 50px;
}

.nav-shortcuts-trigger:hover {
    background-color: #d0d0d0;
    border-radius: 1rem;
}

.nav-shortcuts-trigger:focus {
    box-shadow: none;
}

.nav-shortcuts {
    height: 100%;
    margin: 0 10px;
}

@media (max-width: 576px) {
    .nav-shortcuts.open {
        display: block !important;
        position: absolute;
        z-index: 999;
        top: 100%;
        left: 0;
        width: 50px;
        text-align: center;
        background-color: #dfdfdf;
        border-bottom-right-radius: 1.5rem;
        border-bottom-left-radius: 1.5rem;
        padding: 0.5rem 0;
        /*  */
        height: unset !important;
        margin: unset !important;
    }
}

@media (max-width: 1200px) {
    #header nav {
        padding-right: 50px;
    }

    #header .cover-avatar {
        width: 125px;
        height: 125px;
        margin-top: -50px;
    }
}

@media (max-width: 992px) {
    #header nav {
        padding-right: 20px;
    }

    #header .cover-avatar {
        width: 100px;
        height: 100px;
        margin-top: -25px;
    }
}

@media (max-width: 768px) {
    #header nav {
        padding-right: 5px;
    }

    #header .cover-avatar {
        width: 64px;
        height: 64px;
        margin-top: -5px;
    }
}

@media (max-width: 576px) {
    #header .container {
        padding-right: 0;
        padding-left: 0;
    }

    #header .cover {
        border-radius: 0 !important;
    }
}

.tazhib {
    background: url(../img/tazhib.png) no-repeat top;
    background-size: contain;
    min-height: 45px;
}